.git
.gitignore
*.md
README.md
Dockerfile
.dockerignore
target/
!target/*.jar
!target/*-runner
!target/quarkus-app/
node_modules/
.env
*.log
.idea/
.vscode/
.settings/
.project
.classpath
.factorypath
*.iml
