[Unit]
Description=PayU Redis Cache
After=network.target container.service
Requires=network.target container.service
PartOf=podman-payu.service

[Container]
Image=redis:7-alpine
ContainerName=payu-redis
PodmanArgs=--pod=payu-data-pod --net=payu-network
Network=payu-network
Command=redis-server --maxmemory 512mb --maxmemory-policy allkeys-lru
HealthCmd=redis-cli ping
HealthInterval=10s
HealthTimeout=3s
HealthStartPeriod=5s
HealthRetries=3
AutoUpdate=registry

[Install]
WantedBy=podman-payu.service
