[Unit]
Description=PayU Zookeeper
After=network.target container.service
Requires=network.target container.service
PartOf=podman-payu.service
Before=kafka.target

[Container]
Image=confluentinc/cp-zookeeper:7.5.0
ContainerName=payu-zookeeper
PodmanArgs=--pod=payu-messaging-pod --net=payu-network
Network=payu-network
EnvFile=-/home/ubuntu/payu/.env
Environment=ZOOKEEPER_CLIENT_PORT=2181
Environment=ZOOKEEPER_TICK_TIME=2000
Environment=KAFKA_HEAP_OPTS=-Xmx512M -Xms512M
Port=2181:2181
HealthCmd=echo ruok | nc localhost 2181 || exit 1
HealthInterval=15s
HealthTimeout=5s
HealthStartPeriod=15s
HealthRetries=3
AutoUpdate=registry

[Install]
WantedBy=podman-payu.service
