[Unit]
Description=PayU Kafka Target (KRaft mode)
After=network.target container.service
PartOf=podman-payu.service

[Install]
WantedBy=podman-payu.service
