apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: openshift-logging

commonLabels:
  app.kubernetes.io/part-of: payu
  app.kubernetes.io/managed-by: kustomize

resources:
  - logging-namespace.yaml
  - logging-operator.yaml
  - lokistack.yaml
  - lokistack-storage-secret.yaml
  - clusterlogforwarder.yaml
  - loki-rbac.yaml
  - clusterlogging.yaml
  - lokistack-token-secret.yaml
  - loki-alert-rules.yaml
  - loki-route.yaml

configMapGenerator:
  - name: loki-deployment-config
    literals:
      - LOKI_VERSION=2.9.0
      - LOKI_RETENTION_DAYS=30
      - LOG_RETENTION_ENABLED=true

secretGenerator:
  - name: loki-storage-credentials
    literals:
      - S3_ACCESS_KEY=${S3_ACCESS_KEY:-placeholder}
      - S3_SECRET_KEY=${S3_SECRET_KEY:-placeholder}
    type: Opaque

generatorOptions:
  disableNameSuffixHash: false
