# RHEL 8 Kickstart file for Automated Installation
text
cdrom
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8
timezone Asia/Jakarta --isUtc
network --bootproto=dhcp --device=link --activate
rootpw --plaintext password
user --name=cloud-user --groups=wheel --password=password --plaintext
sshkey --username=cloud-user "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIB/AdE9d3+IZhtysBTVZc10rkcgP4oJwTy0kkCuJ7LZM zfajart@gmail.com"

# Partitioning
clearpart --all --initlabel
autopart --type=plain

reboot

%packages
@^minimal-environment
kexec-tools
tar
wget
curl
%end

%post
echo "cloud-user ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/cloud-user
chmod 0440 /etc/sudoers.d/cloud-user
%end
